body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('images/Bandejara.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.time {
  margin: 20px 0px 40px 0px;
}

#info-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-image {
  max-width: 100%; /* Controla el ancho máximo de la imagen en relación al contenedor */
  max-height: 100%; /* Controla la altura máxima de la imagen en relación al contenedor */
  object-fit: contain; /* Mantiene la relación de aspecto original de la imagen */
}

.date {
  margin: 0px 10px 10px 10px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 150px;
  margin: 20px;
}

.hidden, .hidden-info {
  display: none;
}

.hidden-logo {
  display: none;
}

#info-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #FFFFFF;
  font-size: 17rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 50px 0 0 0;
  text-shadow: 0px 0px 15px black;

}

p {
  color: #FFFFFF;
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 5px 0;
  text-shadow: 0px 0px 40px black;

}

#day {
  font-weight: bold;
  text-shadow: 0px 0px 40px black;

}

#motivational-message {
  color: #F2A922; /* Puedes cambiar este color si deseas uno diferente */
  font-size: 8rem; /* Aumenta el tamaño de fuente para mejorar la legibilidad desde lejos */
  font-family: 'Roboto', sans-serif; /* Cambia la fuente a Roboto */
  font-weight: 700; /* Ajusta el grosor de la fuente */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 2); /* Mantiene la sombra de texto existente */
}
