.container {
  max-width: 1200px;
  margin: 0 auto;
}

body, html {
  height: 100%;
  background: #F2F2F2;
  position: relative;
  overflow-y: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #F2F2F2;
  position: relative;
}

.date-wrapper {
  text-align: center;
}

.date-wrapper {
  position: absolute;
  left: 60px; /* Ajusta este valor para mover la fecha hacia la izquierda */
  top: 320%;
  transform: translateY(-50%);
  text-align: center; /* Cambia esto a 'left' para alinear la fecha a la izquierda */
}


.date-container h1, .date-container p {
  margin: 0;
}

.date-container h1 {
  font-size: 6rem;
  color: #333;
}

.date-container p {
  font-size: 3rem;
  color: #5c5959;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.img-container {
  width: 100vw;
  height: calc(100vh - 80px);
  background-image: url('images/montaje.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 85%; /* Ajustado para mover la imagen hacia abajo */
}

#clock {
  font-size: 4rem;
  margin-top: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.date-container #clock {
  font-size: 7rem;
  margin-top: 30px;
}

.video-container {
  position: absolute;
  top: 5px;  /* Ajusta estos valores para mover el video */
  right: 5px;
}

.video-container video {
  width: 750px;  /* Ajusta este valor para cambiar el tamaño del video */
  height: auto;
}

