body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url('../../images/figuras.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0);
}

h1 {
  margin-top: 30px;
}

form {
  margin-top: 30px;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  padding: 5px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#result {
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#result p {
  margin: 0;
  padding: 5px 0;
  font-weight: bold;
}
